/*static | relative | absolute | sticky | fixed*/
.box{
    display: inline-block;
    background: red;
    width: 100px;
    height: 100px;
    float:left;
    margin: 20px;
    color: white;
}
#two{
    position: relative;
    top: 20px;
    left: 20px;
}
#three{
    position: absolute;
    top: 20px;
    left: 20px;
}
#one {
    position: fixed;
    top: 80px;
    left: 10px;
}
.outer{
    width: 500px;
    height: 300px;
    overflow: scroll;
    padding-left: 150px;
}

* {
  box-sizing: border-box;
}

dl {
  margin: 0;
  padding: 24px 0 0 0;
}

dt {
  background: #B8C1C8;
  border-bottom: 1px solid #989EA4;
  border-top: 1px solid #717D85;
  color: #FFF;
  font: bold 18px/21px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

dd {
  font: bold 20px/45px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0 0 0 12px;
  white-space: nowrap;
}

dd + dd {
  border-top: 1px solid #CCC
}